<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>What is Web Access Firewall?</b></h3>
    </div>
    <div class="panel-body">
        <br />
        <br />
        The web access firewall, as it sounds like, provides policy-based access to MVC .NET web applications.
    </div>
</div>
<br />